extends base

block content
  .content-wrapper
    .content-top
      .form-block.w-form
        form#search-form.form(name="Search-Form" data-name="Search Form")
          .instant-site-search-wrapper
            input#Chromebook-Search-Input.instant-site-search-input.w-input(type="text" maxlength="256" name="Chromebook-Search-Input" data-name="Chromebook Search Input" placeholder="Search")
            a.search-icon-wrapper.w-inline-block(href="#")
              .w-embed
                svg#Capa_1(version="1.1" fill="currentColor" width="12" height="12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 489.713 489.713" style="enable-background:new 0 0 489.713 489.713;" xml:space="preserve")
                  g
                    path(d="M483.4,454.444l-121.3-121.4c28.7-35.2,46-80,46-128.9c0-112.5-91.5-204.1-204.1-204.1S0,91.644,0,204.144\
                    s91.5,204,204.1,204c48.8,0,93.7-17.3,128.9-46l121.3,121.3c8.3,8.3,20.9,8.3,29.2,0S491.8,462.744,483.4,454.444z M40.7,204.144\
                    c0-90.1,73.2-163.3,163.3-163.3s163.4,73.3,163.4,163.4s-73.3,163.4-163.4,163.4S40.7,294.244,40.7,204.144z")
      a.add-button.w-button(href="/instant-sites/industries/new") + Create New Industry
    .database-wrapper.w-embed
      table#industries-table.database-table(style="width:100%")
        colgroup
          col(span="1" style="width:25%;")
          col(span="1" style="width:17%;")
          col(span="1" style="width:33%;")
          col(span="1" style="width:25%;")
        thead
          tr
            th(data-sortable="true" data-sort-label="12" data-field="name" data-active="true" aria-sort="descending")
              div
                | Industry Name
                span.material-icons.head arrow_downward
            th(data-sortable="true" data-sort-label="13" data-field="color")
              div
                | Color
                span.material-icons.head arrow_downward
            th(data-sortable="true" data-sort-label="14" data-field="mainImage")
              div
                | Image
                span.material-icons.head arrow_downward
            th(data-sortable="true" data-sort-label="15" data-field="active")
              div
                | Status
                span.material-icons.head arrow_downward
        tbody
          each industry in industries
            tr(class=`${industry.slug}-row`)
              td
                a.main-name(href=`/instant-sites/industries/${industry.slug}`) #{industry.name}
              td
                .td-color-container
                  .industry-color-box.smaller(style=`background-color:${industry.color}`)
                  | #{industry.color}
              td
                | #{industry.name}.png
                a.display-new-tab.w-inline-block(href=`/images/industries-thumbnail/${industry.name}.png` target="_blank")
              td(style='color:#00ff5a')
                .active-circle
                | Active
        include _databaseTfoot