extends base

mixin inputWrapper(nodeId, required, text, inputType, overrideText)
  - var slugText = `${text.toLowerCase().split(" ").join("-")}`
  if overrideText
    - text = overrideText
  div(id=`${nodeId}` class=(required === true ? 'input-wrapper required' : 'input-wrapper'))
    label.field-label #{text}
    input.input.w-input(id=`${slugText}` type=`${inputType}` required=required===true maxlength="256" name=`${slugText}` data-name=`${text}` autocomplete="chrome-off")

block content
  .content-wrapper
    .inner-content-wrapper
      .w-container
        .instant-step-text Update Your Password Here
        form.w-form(id="update-password-form" name="Update-Password-Form" data-name="Update Password Form")
          .user-fields         
            +inputWrapper("", true, "Current Password", "password")
            .spacer
            +inputWrapper("", true, "New Password", "password")
            +inputWrapper("", true, "Confirm New Password", "password")
            input(type="submit" value="Change Password" data-wait="Please wait..." class="blue-gradient-button w-button")
